<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="mic_name" value="alsa_input.usb-C-Media_Electronics_Inc._USB_Audio_Device-00.mono-fallback"/>
    <param name="hmm" value="/usr/local/share/pocketsphinx/model/en-us/en-us"/>
    <param name="dict" value="$(find rchomeedu_partybot)/config/partybot.dic"/>
    <param name="lm" value="$(find rchomeedu_partybot)/config/partybot.lm"/>
  </node>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
  <node name="dance_arm" pkg="rchomeedu_arm" type="dance_arm.py"/>
  <node name="take_photo" pkg="rchomeedu_vision" type="take_photo_sub.py"/>
  <node name="partybot" pkg="rchomeedu_partybot" type="partybot.py"/>

</launch>
